<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>kHurd BST</title>
        
        <style>
            {
                box-sizing: border-box;
            }
            h1 {
                font-size: 50px;
            }
            body {
                margin: 0;
                font-size: 100%;
            }
            .center {
                text-align: center;
                color: white;
            }
            ul {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #444;
                height: 100%;
                overflow: auto;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: #000;
                padding: 12px 14px;
                text-decoration: none;
            }
            li a.active {
                background-color: #808080;
                color: white;
            }
            li a:hover:not(.active) {
                background-color: #555;
                color: white;
            }
        </style>
    </head>
    
    <body style="background-color: grey">
        
        <ul>
            <li><a href="{{url_for('home_page')}}">Main</a></li>
            <li><a class= "active" href="{{url_for('projects')}}">Projects</a></li>
            <li><a href="{{url_for('my_music')}}">My Music</a></li>
            <li><a href="{{url_for('tabs')}}">Tabs</a></li>
            <li><a href="{{url_for('about_me')}}">About Me</a></li>
        </ul>
        
        <!--MAIN TITLE-->
        <h1 class="center">
            Binary Search Tree
        </h1>
        
        <!--SUB TITLE-->
        <h2 class="center">
            Made by Kyle Hurd
            <hr>
        </h2>
        
        <p>
<div style="background: #111111; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic; background-color: #0f140f"></span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  BinarySearchTree.hpp</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  CustomLibraries</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  Created by Kyle Hurd on 10/27/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  Description</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  This Binary Search Tree can hold a T type for data.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  For any type that is created by the user, it will be necessary</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  to overload boolean operations (&lt;, &gt;, &lt;=, ==). Only these</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  four operation need to be overloaded for this class to</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  work without standard types like an &lt;int&gt; or &lt;char&gt;</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#ifndef BinarySearchTree_hpp</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#define BinarySearchTree_hpp</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;ttype.hpp&quot;</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;iostream&gt;</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;string&gt;</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;fstream&gt;</span>

<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">BinarySearchTree</span> <span style="color: #ffffff">{</span>
<span style="color: #ffffff">private:</span>
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Struct Declaration</span>
    <span style="color: #fb660a; font-weight: bold">struct</span> <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">T</span> <span style="color: #ffffff">data;</span> <span style="color: #008800; font-style: italic; background-color: #0f140f">// ttype</span>
        <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*right;</span>
        <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*left;</span>
    <span style="color: #ffffff">};</span>
    <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*root;</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Deletions</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ff0086; font-weight: bold">destroySubTree</span><span style="color: #ffffff">(TreeNode</span> <span style="color: #ffffff">*);</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ff0086; font-weight: bold">deleteNode</span><span style="color: #ffffff">(T,</span> <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*&amp;);</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ff0086; font-weight: bold">makeDeletion</span><span style="color: #ffffff">(TreeNode</span> <span style="color: #ffffff">*&amp;);</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Inserts</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ff0086; font-weight: bold">insert</span><span style="color: #ffffff">(TreeNode</span> <span style="color: #ffffff">*&amp;,</span> <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*&amp;);</span> <span style="color: #008800; font-style: italic; background-color: #0f140f">//if(TreeNode.data &lt; otherNode.data) {}</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Displays</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">displayInOrder(TreeNode</span> <span style="color: #ffffff">*)</span> <span style="color: #fb660a; font-weight: bold">const</span><span style="color: #ffffff">;</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">displayPreOrder(TreeNode</span> <span style="color: #ffffff">*)</span> <span style="color: #fb660a; font-weight: bold">const</span><span style="color: #ffffff">;</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">displayPostOrder(TreeNode</span> <span style="color: #ffffff">*)</span> <span style="color: #fb660a; font-weight: bold">const</span><span style="color: #ffffff">;</span>

<span style="color: #ffffff">public:</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Constructors</span>
    <span style="color: #ffffff">BinarySearchTree()</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">root</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nullptr;</span>
    <span style="color: #ffffff">}</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Destructors</span>
    <span style="color: #ffffff">~BinarySearchTree()</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">destroySubTree(root);</span>
    <span style="color: #ffffff">}</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Getters</span>
    <span style="color: #ffffff">T</span> <span style="color: #ffffff">getData(T);</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Functions</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ff0086; font-weight: bold">insertNode</span><span style="color: #ffffff">(T);</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ff0086; font-weight: bold">remove</span><span style="color: #ffffff">(T);</span>
    <span style="color: #cdcaa9; font-weight: bold">bool</span> <span style="color: #ff0086; font-weight: bold">isNode</span><span style="color: #ffffff">(T);</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Override Display Functions</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ff0086; font-weight: bold">displayInOrder</span><span style="color: #ffffff">()</span> <span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">displayInOrder(root);</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">displayPreOrder()</span> <span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">displayPreOrder(root);</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">displayPostOrder()</span> <span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">displayPostOrder(root);</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">};</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// Function Definitions</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Private** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// destroySubTree()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::destroySubTree(TreeNode</span> <span style="color: #ffffff">*nodePtr)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr)</span> <span style="color: #ffffff">{</span>
        <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr-&gt;left)</span> <span style="color: #ffffff">{</span>
            <span style="color: #ffffff">destroySubTree(nodePtr-&gt;left);</span>
        <span style="color: #ffffff">}</span>
        <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr-&gt;right)</span> <span style="color: #ffffff">{</span>
            <span style="color: #ffffff">destroySubTree(nodePtr-&gt;right);</span>
        <span style="color: #ffffff">}</span>
        <span style="color: #fb660a; font-weight: bold">delete</span> <span style="color: #ffffff">nodePtr;</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Private** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// deleteNode()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::deleteNode(T</span> <span style="color: #ffffff">d,</span> <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*&amp;</span> <span style="color: #ffffff">nodePtr)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(d</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">nodePtr-&gt;data)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">deleteNode(d,</span> <span style="color: #ffffff">nodePtr-&gt;left);</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(d</span> <span style="color: #ffffff">&gt;</span> <span style="color: #ffffff">nodePtr-&gt;data)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">deleteNode(d,</span> <span style="color: #ffffff">nodePtr-&gt;right);</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">makeDeletion(nodePtr);</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Private** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// makeDeletion()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::makeDeletion(TreeNode</span> <span style="color: #ffffff">*&amp;nodePtr)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*tempPtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nullptr;</span>
            
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr</span> <span style="color: #ffffff">==</span> <span style="color: #ffffff">nullptr)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">std::cout</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #0086d2">&quot;Node is empty. Cannot delete.&quot;</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">std::endl;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr-&gt;right</span> <span style="color: #ffffff">==</span> <span style="color: #ffffff">nullptr)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">tempPtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nodePtr;</span>
        <span style="color: #ffffff">nodePtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nodePtr-&gt;left;</span>
        <span style="color: #fb660a; font-weight: bold">delete</span> <span style="color: #ffffff">tempPtr;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr-&gt;left</span> <span style="color: #ffffff">==</span> <span style="color: #ffffff">nullptr)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">tempPtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nodePtr;</span>
        <span style="color: #ffffff">nodePtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nodePtr-&gt;right;</span>
        <span style="color: #fb660a; font-weight: bold">delete</span> <span style="color: #ffffff">tempPtr;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">tempPtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nodePtr-&gt;right;</span>
        <span style="color: #fb660a; font-weight: bold">while</span> <span style="color: #ffffff">(tempPtr-&gt;left)</span> <span style="color: #ffffff">{</span>
            <span style="color: #ffffff">tempPtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">tempPtr-&gt;left;</span>
        <span style="color: #ffffff">}</span>
                
        <span style="color: #ffffff">tempPtr-&gt;left</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nodePtr-&gt;left;</span>
        <span style="color: #ffffff">tempPtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nodePtr;</span>
        <span style="color: #ffffff">nodePtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nodePtr-&gt;right;</span>
                
        <span style="color: #fb660a; font-weight: bold">delete</span> <span style="color: #ffffff">tempPtr;</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Private** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// insert()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::insert(TreeNode</span> <span style="color: #ffffff">*&amp;nodePtr,</span> <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*&amp;newNode)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr</span> <span style="color: #ffffff">==</span> <span style="color: #ffffff">nullptr)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">nodePtr</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">newNode;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(newNode-&gt;data</span> <span style="color: #ffffff">&lt;=</span> <span style="color: #ffffff">nodePtr-&gt;data)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">insert(nodePtr-&gt;left,</span> <span style="color: #ffffff">newNode);</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">insert(nodePtr-&gt;right,</span> <span style="color: #ffffff">newNode);</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Private** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// displayInOrder()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::displayInOrder(TreeNode</span> <span style="color: #ffffff">*nodePtr)</span> <span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">displayInOrder(nodePtr-&gt;left);</span>
        <span style="color: #ffffff">std::cout</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">nodePtr-&gt;data</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">std::endl;</span>
        <span style="color: #ffffff">displayInOrder(nodePtr-&gt;right);</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Private** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// displayPreOrder</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::displayPreOrder(TreeNode</span> <span style="color: #ffffff">*nodePtr)</span> <span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">std::cout</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">nodePtr-&gt;data</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">std::endl;</span>
        <span style="color: #ffffff">displayPreOrder(nodePtr-&gt;left);</span>
        <span style="color: #ffffff">displayPreOrder(nodePtr-&gt;right);</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Private** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// displayPostOrder()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::displayPostOrder(TreeNode</span> <span style="color: #ffffff">*nodePtr)</span> <span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(nodePtr)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">displayPostOrder(nodePtr-&gt;left);</span>
        <span style="color: #ffffff">displayPostOrder(nodePtr-&gt;right);</span>
        <span style="color: #ffffff">std::cout</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">nodePtr-&gt;data</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">std::endl;</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Public** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// getString()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #ffffff">T</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::getData(T</span> <span style="color: #ffffff">d)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*tempNode</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">root;</span>
            
    <span style="color: #fb660a; font-weight: bold">while</span> <span style="color: #ffffff">(tempNode)</span> <span style="color: #ffffff">{</span>
        <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(tempNode-&gt;data</span> <span style="color: #ffffff">==</span> <span style="color: #ffffff">d)</span> <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">tempNode-&gt;data;</span>
        <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(tempNode-&gt;data</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">d)</span> <span style="color: #ffffff">tempNode</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">tempNode-&gt;right;</span>
        <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #ffffff">tempNode</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">tempNode-&gt;left;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">tempNode-&gt;data;</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Public** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// insertNode()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::insertNode(T</span> <span style="color: #ffffff">d)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*newNode</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nullptr;</span>
    <span style="color: #ffffff">newNode</span> <span style="color: #ffffff">=</span> <span style="color: #fb660a; font-weight: bold">new</span> <span style="color: #ffffff">TreeNode;</span>
            
    <span style="color: #ffffff">newNode-&gt;data</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">d;</span>
    <span style="color: #ffffff">newNode-&gt;right</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">newNode-&gt;left</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nullptr;</span>
            
    <span style="color: #ffffff">insert(root,</span> <span style="color: #ffffff">newNode);</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Public** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// remove()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::remove(T</span> <span style="color: #ffffff">d)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #ffffff">deleteNode(d,</span> <span style="color: #ffffff">root);</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Public** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// isNode()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">bool</span> <span style="color: #ffffff">BinarySearchTree&lt;T&gt;::isNode(T</span> <span style="color: #ffffff">d)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #ffffff">TreeNode</span> <span style="color: #ffffff">*tempNode</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">root;</span>
            
    <span style="color: #fb660a; font-weight: bold">while</span> <span style="color: #ffffff">(tempNode)</span> <span style="color: #ffffff">{</span>
        <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(tempNode-&gt;data</span> <span style="color: #ffffff">==</span> <span style="color: #ffffff">d)</span> <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">true;</span>
        <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(tempNode-&gt;data</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">d)</span> <span style="color: #ffffff">tempNode</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">tempNode-&gt;right;</span>
        <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #ffffff">tempNode</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">tempNode-&gt;left;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">false;</span>
<span style="color: #ffffff">}</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#endif </span><span style="color: #008800; font-style: italic; background-color: #0f140f">/* BinarySearchTree.hpp */</span><span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f"></span>
</pre></div>


        </p>
    </body>
</html>
