<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Helper Functions</title>
        
        <style>
            {
                box-sizing: border-box;
            }
            h1 {
                font-size: 50px;
            }
            body {
                margin: 0;
                font-size: 100%;
            }
            .center {
                text-align: center;
                color: white;
            }
            ul {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #444;
                height: 100%;
                overflow: auto;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: #000;
                padding: 12px 14px;
                text-decoration: none;
            }
            li a.active {
                background-color: #808080;
                color: white;
            }
            li a:hover:not(.active) {
                background-color: #555;
                color: white;
            }
        </style>
    </head>
    
    <body style="background-color: grey">
        
        <ul>
            <li><a href="{{url_for('home_page')}}">Main</a></li>
            <li><a class= "active" href="{{url_for('projects')}}">Projects</a></li>
            <li><a href="{{url_for('my_music')}}">My Music</a></li>
            <li><a href="{{url_for('tabs')}}">Tabs</a></li>
            <li><a href="{{url_for('about_me')}}">About Me</a></li>
        </ul>
        
        <!--MAIN TITLE-->
        <h1 class="center">
            Helper Functions
        </h1>
        
        <!--BODY-->
            <h2 class="center">
                Made by Kyle Hurd
            </h2>
            <br><br>
            
            <p>

<div style="background: #111111; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic; background-color: #0f140f"></span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  helperFunctions.hpp</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  Created by Kyle Hurd on 12/12/20.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#ifndef helperFunctions_hpp</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#define helperFunctions_hpp</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;iostream&gt;</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;string&gt;</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;fstream&gt;</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;string&gt;</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;sstream&gt;</span>


<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    11/28/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: Converts an integer to a string. For example,</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               if int 42 is passed in, &#39;42&#39; as a string will</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               be returned.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #fb660a; font-weight: bold">template</span> <span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #ffffff">std::string</span> <span style="color: #ffffff">numToString(T</span> <span style="color: #ffffff">num)</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">std::ostringstream</span> <span style="color: #ffffff">ss;</span>
    <span style="color: #ffffff">ss</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">num;</span>
    <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">ss.str();</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    11/28/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: print() behaves much like the function</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               from Python, and was created to try and clean</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               up the look of the code. You can add multiple</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               elements by appending them via a &#39;+&#39;.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Ex. print(&quot;Hello &quot; + name + &quot;!&quot;);</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Default output is cout, but can be outputted to</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               a file or other source by adding the location</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               as a second parameter.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Ex.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               std::fstream outfile;</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               openOutFile(outfile, &quot;path/to/file.txt&quot;);</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               print(&quot;Output to fstream&quot;, outfile);</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">print(std::string</span> <span style="color: #ffffff">n</span> <span style="color: #ffffff">=</span> <span style="color: #0086d2">&quot;&quot;</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">std::ostream</span> <span style="color: #ffffff">&amp;output</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">std::cout)</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">output</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">n</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">std::endl;</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    11/28/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: Opens an fstream type variable in input</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               mode from the name of the file provided</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               by the string s.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Ex.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               std::fstream infile;</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               openInFile(infile, &quot;./path/to/file.txt&quot;);</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">openInFile(std::fstream</span> <span style="color: #ffffff">&amp;file,</span> <span style="color: #ffffff">std::string</span> <span style="color: #ffffff">s)</span> <span style="color: #ffffff">{</span>
    
    <span style="color: #ffffff">file.open(s,</span> <span style="color: #ffffff">std::ios::in);</span>
    
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(file.is_open())</span> <span style="color: #ffffff">print(s</span> <span style="color: #ffffff">+</span> <span style="color: #0086d2">&quot; opened successfully.&quot;</span><span style="color: #ffffff">);</span>
    <span style="color: #fb660a; font-weight: bold">else</span>                <span style="color: #ff0086; font-weight: bold">print</span><span style="color: #ffffff">(s</span> <span style="color: #ffffff">+</span> <span style="color: #0086d2">&quot; could not be opened. Cannot read data.&quot;</span><span style="color: #ffffff">);</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    11/28/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: Opens an fstream type variable in output</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               mode from the file name provided by the string</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               s.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Ex.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               std::fstream outfile;</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               openOutFile(outfile, &quot;./path/to/file.txt&quot;);</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">openOutFile(std::fstream</span> <span style="color: #ffffff">&amp;file,</span> <span style="color: #ffffff">std::string</span> <span style="color: #ffffff">s)</span> <span style="color: #ffffff">{</span>
    
    <span style="color: #ffffff">file.open(s,</span> <span style="color: #ffffff">std::ios::out);</span>
    
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(file.is_open())</span> <span style="color: #ffffff">print(s</span> <span style="color: #ffffff">+</span> <span style="color: #0086d2">&quot; opened successfully.&quot;</span><span style="color: #ffffff">);</span>
    <span style="color: #fb660a; font-weight: bold">else</span>                <span style="color: #ff0086; font-weight: bold">print</span><span style="color: #ffffff">(s</span> <span style="color: #ffffff">+</span> <span style="color: #0086d2">&quot; could not be opened. Cannot write data.&quot;</span><span style="color: #ffffff">);</span>
<span style="color: #ffffff">}</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#endif </span><span style="color: #008800; font-style: italic; background-color: #0f140f">/* helperFunctions_hpp */</span><span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f"></span>
</pre></div>


            </p>
    </body>
</html>
