{% extends "head.html" %}

{% block title %}Metar{% endblock %}

{% block content %}

<h1 class="title center">
	Metar Weather Data
</h1>

<p class="center">
	Welcome to the Metar Weather Data!<br>
	Sanderson Field is entered by default. You can change<br>
	these settings by typing in 'khurd21.ddns.net/website/projects/&ltstation_id&gt'<br>
	or get a list of multiple weather stations using &ltid1&gt-&ltid2&gt,...<br>
	using '-' to separate each station id.<br><br>
	Example stations: KBFI (Boeing Field), KPUW (Pullman), KHQM (Bowerman Field)<br>
	Example web links: khurd21.ddns.net/website/projects/metar/KBFI-KPUW-KHQM or <br>
	khurd21.ddns.net/website/projects/metar/KSHN or <br>
	khurd21.ddns.net/website/projects/metar/K-Q-Z
</p>
<br><br><hr>

<div id="box" class="center">
	{% for station in stations %}
	<h2>{{station}}</h2>
	<center>
		<div class="blocktext" style="background-color: black">

			Flight Category: {{conditions[station]['flight_category']}}<br><br>
			Observation Time: {{conditions[station]['observation_time']}}
			Temp: {{conditions[station]['temp_c']}} Celsius<br>
			Dewpoint: {{conditions[station]['dewpoint_c']}} Celius<br>
			Wind Direction: {{conditions[station]['wind_dir_degrees']}} degrees<br>
			Wind Speed: {{conditions[station]['wind_speed_kt']}} knots<br>
			Gusts: {{conditions[station]['wind_gust_kt']}} knots<br>
			Visibility: {{conditions[station]['visibility_statute_mi']}} miles<br>
			Precipitation: {{conditions[station]['precip_in']}} inches<br>
			Altim in hg: {{conditions[station]['altim_in_hg']}} hg<br>

			{% for x in conditions[station]['sky_conditions'] %}
			Cover: {{x['cover']}} @ {{x['cloud_base_ft_agl']}} ft<br>
			{% endfor %}
		
		</div>
	</center>
	{% endfor %}
</div>

{% endblock %}
