<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>kHurd Sorting</title>
        <style>
            {
                box-sizing: border-box;
            }
            h1 {
                font-size: 50px;
            }
            body {
                margin: 0;
                font-size: 100%;
            }
            .center {
                text-align: center;
                color: white;
            }
            ul {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #444;
                height: 100%;
                overflow: auto;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: #000;
                padding: 12px 14px;
                text-decoration: none;
            }
            li a.active {
                background-color: #808080;
                color: white;
            }
            li a:hover:not(.active) {
                background-color: #555;
                color: white;
            }
        </style>
    </head>
            
            <ul>
                <li><a href="{{url_for('home_page')}}">Main</a></li>
                <li><a class= "active" href="{{url_for('projects')}}">Projects</a></li>
                <li><a href="{{url_for('my_music')}}">My Music</a></li>
                <li><a href="{{url_for('tabs')}}">Tabs</a></li>
                <li><a href="{{url_for('about_me')}}">About Me</a></li>
            </ul>
            
        <body style="background-color: grey">
        <!--MAIN TITLE-->
        <h1 class="center">
            Sorting
        </h1>
        
        <!--SUB TITLE-->
        <h2 class="center">
            Made by Kyle Hurd
            <hr>
        </h2>
        
        <p>
<div style="background: #111111; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic; background-color: #0f140f"></span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  Sorting.hpp</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  CustomLibraries</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  Created by Kyle Hurd on 11/15/2020.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  Sorting algorithms include bubble sort, selection sort, insertion sort,</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//  and quick sort.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#ifndef Sorting_hpp</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#define Sorting_hpp</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;iostream&gt;</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">//**PRINT ARRAY**//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    12/18/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: Displays the entire array from the base address</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               to the last element.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #fb660a; font-weight: bold">template</span> <span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">typename</span> <span style="color: #ffffff">T,</span> <span style="color: #cdcaa9; font-weight: bold">size_t</span> <span style="color: #ffffff">size&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">printArray(</span><span style="color: #fb660a; font-weight: bold">const</span> <span style="color: #ffffff">T</span> <span style="color: #ffffff">(&amp;array)[size])</span> <span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">for</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">size;</span> <span style="color: #ffffff">i++)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">std::cout</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">array[i]</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #0086d2">&quot; &quot;</span><span style="color: #ffffff">;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #ffffff">std::cout</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">std::endl;</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">//**SWAP**//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    11/20/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: Swaps the two arguments that are passed into function.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Ex. if x = 5 and y = -4, then x will become -4 and y will</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               become 5. Values are swapped by reference.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #fb660a; font-weight: bold">template</span> <span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">typename</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">swap(T</span> <span style="color: #ffffff">&amp;x,</span> <span style="color: #ffffff">T</span> <span style="color: #ffffff">&amp;y)</span> <span style="color: #ffffff">{</span>
    <span style="color: #ffffff">T</span> <span style="color: #ffffff">temp</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">x;</span>
    <span style="color: #ffffff">x</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">y;</span>
    <span style="color: #ffffff">y</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">temp;</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">//**BUBBLE SORT**//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    11/24/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: A bubble sort algorithm. I believe the proper method to this</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               algorithm is to bubble the items left to right, where the ending</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               point decreases over time. I found this counter-intuitive, so</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               I wrote it as two counters (i, j) that both increment up, but compare</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               the second for-loop against the size of the array minus the &#39;i&#39; position.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               The time complexity seems to be the same as the normal Bubble Sort.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Best sorting time:  O(n)</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Worst sorting time: O(n^2)</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #fb660a; font-weight: bold">template</span> <span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">typename</span> <span style="color: #ffffff">T,</span> <span style="color: #cdcaa9; font-weight: bold">size_t</span> <span style="color: #ffffff">size&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">bubbleSort(T</span> <span style="color: #ffffff">(&amp;array)[size])</span> <span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">for</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">size</span> <span style="color: #ffffff">-</span> <span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">++i)</span> <span style="color: #ffffff">{</span>
        <span style="color: #cdcaa9; font-weight: bold">bool</span> <span style="color: #ffffff">flag</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">false;</span>
        <span style="color: #fb660a; font-weight: bold">for</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">j</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">j</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">size</span> <span style="color: #ffffff">-</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">-</span> <span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">++j)</span> <span style="color: #ffffff">{</span>
            <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(array[j]</span> <span style="color: #ffffff">&gt;</span> <span style="color: #ffffff">array[j+</span><span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">])</span> <span style="color: #ffffff">{</span>
                <span style="color: #ffffff">swap(array[j],</span> <span style="color: #ffffff">array[j+</span><span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">]);</span>
                <span style="color: #ffffff">flag</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">true;</span>
            <span style="color: #ffffff">}</span>
        <span style="color: #ffffff">}</span>
        <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(flag</span> <span style="color: #ffffff">==</span> <span style="color: #ffffff">false)</span> <span style="color: #ffffff">{</span>
            <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
        <span style="color: #ffffff">}</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">//**SELECTION SORT**//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    11/18/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: A selection sort algorithm. This is very similar to bubble sort</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               with the exception that it must iterate through two for-loops</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               regardless of the content within the array.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Best sorting time:  O(n^2)</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Worst sorting time: O(n^2)</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #fb660a; font-weight: bold">template</span> <span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">typename</span> <span style="color: #ffffff">T,</span> <span style="color: #cdcaa9; font-weight: bold">size_t</span> <span style="color: #ffffff">size&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">selectionSort(T</span> <span style="color: #ffffff">(&amp;array)[size])</span> <span style="color: #ffffff">{</span>
    <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">id;</span>
    <span style="color: #fb660a; font-weight: bold">for</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">size</span> <span style="color: #ffffff">-</span> <span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">++i)</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">id</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">i;</span>
        <span style="color: #fb660a; font-weight: bold">for</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">j</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">+</span> <span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">j</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">size;</span> <span style="color: #ffffff">++j)</span> <span style="color: #ffffff">{</span>
            <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(array[j]</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">array[id])</span> <span style="color: #ffffff">{</span>
                <span style="color: #ffffff">id</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">j;</span>
            <span style="color: #ffffff">}</span>
        <span style="color: #ffffff">}</span>
        <span style="color: #ffffff">swap(array[id],</span> <span style="color: #ffffff">array[i]);</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">//**INSERTION SORT**//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    11/26/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: An insertion sort. The method behind this is to assume the</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               size of the array is one (a sorted array) and each iteration</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               add one to the size of the array (the unsorted portion). Then</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               place the unsorted element into the appropriate position.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Best sorting time:  O(n)</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               Worst sorting time: O(n^2)</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #fb660a; font-weight: bold">template</span> <span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">typename</span> <span style="color: #ffffff">T,</span> <span style="color: #cdcaa9; font-weight: bold">size_t</span> <span style="color: #ffffff">size&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">insertionSort(T</span> <span style="color: #ffffff">(&amp;array)[size])</span> <span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">for</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">size;</span> <span style="color: #ffffff">++i)</span> <span style="color: #ffffff">{</span>
        <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">id</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">array[i];</span>
        <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">j</span>  <span style="color: #ffffff">=</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">-</span> <span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">;</span>
        <span style="color: #fb660a; font-weight: bold">while</span> <span style="color: #ffffff">(j</span> <span style="color: #ffffff">&gt;</span> <span style="color: #ffffff">-</span><span style="color: #0086f7; font-weight: bold">1</span> <span style="color: #ffffff">&amp;&amp;</span> <span style="color: #ffffff">array[j]</span> <span style="color: #ffffff">&gt;</span> <span style="color: #ffffff">id)</span> <span style="color: #ffffff">{</span>
            <span style="color: #ffffff">array[j</span> <span style="color: #ffffff">+</span> <span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">]</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">array[j];</span>
            <span style="color: #ffffff">j--;</span>
        <span style="color: #ffffff">}</span>
        <span style="color: #ffffff">array[j</span> <span style="color: #ffffff">+</span> <span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">]</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">id;</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">//**PARTITION**//</span>
<span style="color: #fb660a; font-weight: bold">template</span> <span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">typename</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">partition(T</span> <span style="color: #ffffff">array[],</span> <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">low,</span> <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">high)</span> <span style="color: #ffffff">{</span>
    
    <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">pivotPos</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">high;</span>
    <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">pivotVal</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">low;</span>
    <span style="color: #fb660a; font-weight: bold">for</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">low;</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">high;</span> <span style="color: #ffffff">i++)</span> <span style="color: #ffffff">{</span>
        <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(array[i]</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">array[pivotPos])</span> <span style="color: #ffffff">{</span>
            <span style="color: #ffffff">swap(array[i],</span> <span style="color: #ffffff">array[pivotVal++]);</span>
        <span style="color: #ffffff">}</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #ffffff">swap(array[pivotVal],</span> <span style="color: #ffffff">array[pivotPos]);</span>
    <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">pivotPos;</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">//**QUICK SORT**//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">/* *</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Created by:  Kyle Hurd</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Modified:    12/18/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *  Description: Has the ability to only sort specific sections of the</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               array. For example, if you want to quick sort the entire array,</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               simply write the function as &#39;quickSort(array)&#39; ignoring the low</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               and high ranges. If you want to sort a specific section exclusively,</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               you can write the function as &#39;quickSort(array, low, high). By default</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> *               low is the 0th element and high is the last element.</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f"> */</span>
<span style="color: #fb660a; font-weight: bold">template</span> <span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">typename</span> <span style="color: #ffffff">T,</span> <span style="color: #cdcaa9; font-weight: bold">size_t</span> <span style="color: #ffffff">size&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">quickSort(T</span> <span style="color: #ffffff">(&amp;array)[size],</span> <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">low=</span><span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">,</span> <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">high=size-</span><span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">)</span> <span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(low</span> <span style="color: #ffffff">&lt;</span> <span style="color: #ffffff">high)</span> <span style="color: #ffffff">{</span>
        <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">pivot</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">partition(array,</span> <span style="color: #ffffff">low,</span> <span style="color: #ffffff">high);</span>
        <span style="color: #ffffff">quickSort(array,</span> <span style="color: #ffffff">low,</span> <span style="color: #ffffff">pivot</span> <span style="color: #ffffff">-</span> <span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">);</span>
        <span style="color: #ffffff">quickSort(array,</span> <span style="color: #ffffff">pivot</span> <span style="color: #ffffff">+</span> <span style="color: #0086f7; font-weight: bold">1</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">high);</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#endif </span><span style="color: #008800; font-style: italic; background-color: #0f140f">/* Sorting.hpp */</span><span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f"></span>
</pre></div>


        </p>
        
    </body>
</html>
