<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>kHurd Stack</title>
        <style>
            {
                box-sizing: border-box;
            }
            h1 {
                font-size: 50px;
            }
            body {
                margin: 0;
                font-size: 100%;
            }
            .center {
                text-align: center;
                color: white;
            }
            ul {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #444;
                height: 100%;
                overflow: auto;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: #000;
                padding: 12px 14px;
                text-decoration: none;
            }
            li a.active {
                background-color: #808080;
                color: white;
            }
            li a:hover:not(.active) {
                background-color: #555;
                color: white;
            }
        </style>
    </head>
            
            <ul>
                <li><a href="{{url_for('home_page')}}">Main</a></li>
                <li><a class= "active" href="{{url_for('projects')}}">Projects</a></li>
                <li><a href="{{url_for('my_music')}}">My Music</a></li>
                <li><a href="{{url_for('tabs')}}">Tabs</a></li>
                <li><a href="{{url_for('about_me')}}">About Me</a></li>
            </ul>
            
        <body style="background-color: grey">
        <!--MAIN TITLE-->
        <h1 class="center">
            Stack
        </h1>
        
        <!--SUB TITLE-->
        <h2 class="center">
            Made by Kyle Hurd
            <hr>
        </h2>
        
        <p>
<div style="background: #111111; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic; background-color: #0f140f"></span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// Stack.hpp</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// CustomLibraries</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// Created by Kyle Hurd on 10/21/2020</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#ifndef Stack_hpp</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#define Stack_hpp</span>

<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;iostream&gt;</span>

<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">Stack</span> <span style="color: #ffffff">{</span>

<span style="color: #ffffff">private:</span>
    <span style="color: #fb660a; font-weight: bold">struct</span> <span style="color: #ffffff">Node</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">T</span> <span style="color: #ffffff">data;</span>
        <span style="color: #ffffff">Node</span> <span style="color: #ffffff">*next;</span>
    <span style="color: #ffffff">};</span>
    <span style="color: #ffffff">Node</span> <span style="color: #ffffff">*top;</span>

    <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">numItems;</span>
    <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">BufferSize;</span>

<span style="color: #ffffff">public:</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Constructors</span>
    <span style="color: #ffffff">Stack(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0x0A</span><span style="color: #ffffff">);</span>

    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Deconstructors</span>
    <span style="color: #ffffff">~Stack();</span>

    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Functions</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ff0086; font-weight: bold">push</span><span style="color: #ffffff">(T);</span>
    <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ff0086; font-weight: bold">pop</span><span style="color: #ffffff">();</span>
    <span style="color: #ffffff">T</span>    <span style="color: #ff0086; font-weight: bold">peek</span><span style="color: #ffffff">();</span>
    <span style="color: #cdcaa9; font-weight: bold">bool</span> <span style="color: #ff0086; font-weight: bold">isEmpty</span><span style="color: #ffffff">();</span>
    <span style="color: #cdcaa9; font-weight: bold">bool</span> <span style="color: #ff0086; font-weight: bold">isFull</span><span style="color: #ffffff">();</span>
    <span style="color: #cdcaa9; font-weight: bold">int</span>  <span style="color: #ff0086; font-weight: bold">getSize</span><span style="color: #ffffff">();</span>
<span style="color: #ffffff">};</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// Initializer</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #ffffff">Stack&lt;T&gt;::Stack(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">n)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #ffffff">numItems</span>   <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0x00</span><span style="color: #ffffff">;</span>
    <span style="color: #ffffff">BufferSize</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">n;</span>

    <span style="color: #ffffff">top</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nullptr;</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// Destructor</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #ffffff">Stack&lt;T&gt;::~Stack()</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Variable Declarations</span>
    <span style="color: #ffffff">T</span> <span style="color: #ffffff">temp;</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Start of Code</span>
    <span style="color: #fb660a; font-weight: bold">while</span> <span style="color: #ffffff">(!isEmpty())</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">pop(temp);</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #ffffff">numItems</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0x00</span><span style="color: #ffffff">;</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// **Functions** //</span>
<span style="color: #008800; font-style: italic; background-color: #0f140f">// isEmpty()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">bool</span> <span style="color: #ffffff">Stack&lt;T&gt;::isEmpty()</span> <span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">!top;</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// isFull()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">bool</span> <span style="color: #ffffff">Stack&lt;T&gt;::isFull()</span> <span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">(BufferSize</span> <span style="color: #ffffff">&lt;=</span> <span style="color: #ffffff">numItems);</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// size()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">Stack&lt;T&gt;::getSize()</span> <span style="color: #ffffff">{</span>
    <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">numItems;</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// push()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">Stack&lt;T&gt;::push(T</span> <span style="color: #ffffff">item)</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Variable Declarations</span>
    <span style="color: #ffffff">Node</span> <span style="color: #ffffff">*newNode</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nullptr;</span>
    <span style="color: #ffffff">newNode</span> <span style="color: #ffffff">=</span> <span style="color: #fb660a; font-weight: bold">new</span> <span style="color: #ffffff">Node;</span>
    <span style="color: #ffffff">newNode-&gt;data</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">item;</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Start of Code</span>
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(isEmpty())</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">top</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">newNode;</span>
        <span style="color: #ffffff">newNode-&gt;next</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nullptr;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">newNode-&gt;next</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">top;</span>
        <span style="color: #ffffff">top</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">newNode;</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// pop()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">Stack&lt;T&gt;::pop()</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Start of Code</span>
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(!isEmpty())</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">Node</span> <span style="color: #ffffff">*temp</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">nullptr;</span>
        <span style="color: #ffffff">temp</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">top-&gt;next;</span>
        <span style="color: #fb660a; font-weight: bold">delete</span> <span style="color: #ffffff">top;</span>
        <span style="color: #ffffff">top</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">temp;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">else</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">std::cout</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #0086d2">&quot;Stack is empty.&quot;</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">std::endl;</span>
    <span style="color: #ffffff">}</span>
<span style="color: #ffffff">}</span>

<span style="color: #008800; font-style: italic; background-color: #0f140f">// peek()</span>
<span style="color: #fb660a; font-weight: bold">template</span><span style="color: #ffffff">&lt;</span><span style="color: #fb660a; font-weight: bold">class</span> <span style="color: #ffffff">T&gt;</span>
<span style="color: #ffffff">T</span> <span style="color: #ffffff">Stack&lt;T&gt;::peek()</span> <span style="color: #ffffff">{</span>
            
    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(isEmpty())</span> <span style="color: #ffffff">{</span>
        <span style="color: #ffffff">std::cout</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #0086d2">&quot;Stack is empty.&quot;</span> <span style="color: #ffffff">&lt;&lt;</span> <span style="color: #ffffff">std::endl;</span>
    <span style="color: #ffffff">}</span>
    <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">top-&gt;data;</span>
<span style="color: #ffffff">}</span>
<span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#endif </span><span style="color: #008800; font-style: italic; background-color: #0f140f">/* Stack.hpp */</span><span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f"></span>
</pre></div>


        </p>
    </body>
</html>
