<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Source Files</title>
        <style>
            {
                box-sizing: border-box;
            }
            h1 {
                font-size: 50px;
            }
            body {
                margin: 0;
                font-size: 100%;
            }
            .center {
                text-align: center;
                color: white;
            }
            .column {
                float: left;
                color: white;
            }
            .left {
                width: 33.33%;
            }
            .middle {
                width: 33.33%;
            }
            .right {
                width: 33.34%;
            }
            .row: after {
                content: "";
                display: table;
                clear: both;
            }
        ul {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #444;
            height: 100%;
            overflow: auto;
        }
        li {
            float: left;
        }
        #nav li a {
            display: block;
            color: #000;
            padding: 12px 14px;
            text-decoration: none;
        }
        
        #nav li a.active {
            background-color: #808080;
            color: white;
        }
        
        #nav li a:hover:not(.active) {
            background-color: #555;
            color: white;
        }
        #links a:link, a:visited {
                background-color: #000;
                color: white;
                padding: 15px 25px;
                text-align: center;
                text-decoration: none;
                dislay: inline-block;
            }
        #links a:hover, a:active {
            background-color: grey;
        }
        </style>
    </head>
    
    <body style="background-color: grey">
        <ul id="nav">
            <li><a href="{{url_for('home_page')}}">Main</a></li>
            <li><a class="active" href="{{url_for('projects')}}">Projects</a></li>
            <li><a href="{{url_for('my_music')}}">My Music</a></li>
            <li><a href="{{url_for('tabs')}}">Tabs</a></li>
            <li><a href="{{url_for('about_me')}}">About Me</a></li>
        </ul>
        
        <!--MAIN TITLE-->
        <h1 class="center">
            Main Driver
        </h1>
        
        <!--BODY-->
            <h2 class="center">
                Created by Kyle Hurd
            </h2>
            <br><br><hr>
            
            <p>
            <div style="background: #111111; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic; background-color: #0f140f"></span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">// Disclaimer:</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">// ----------</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">// This code will work only if you selected window, graphics and audio.</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">// Note that the &quot;Run Script&quot; build phase will copy the required frameworks</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">// or dylibs to your application bundle so you can execute it on any OS X</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">// computer.</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">// Your resource files (images, sounds, fonts, ...) are also copied to your</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">// application bundle. To get the path to these resources, use the helper</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">// function `resourcePath()` from ResourcePath.hpp</span>
            <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>

            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;SFML/Audio.hpp&gt;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;SFML/Graphics.hpp&gt;</span>

            <span style="color: #008800; font-style: italic; background-color: #0f140f">// Classes</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/Classes/Bird.hpp&quot;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/Classes/Pipes.hpp&quot;</span>

            <span style="color: #008800; font-style: italic; background-color: #0f140f">// Scenes</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/LoadingScene.hpp&quot;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/GameScene.hpp&quot;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/MenuScene.hpp&quot;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/HighScoreScene.hpp&quot;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/ChangeNameScene.hpp&quot;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/CreditScene.hpp&quot;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/InvadersScene.hpp&quot;</span>

            <span style="color: #008800; font-style: italic; background-color: #0f140f">// Other</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Templates/Classes/helperFunctions.hpp&quot;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;fstream&gt;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;iostream&gt;</span>
            <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;random&gt;</span>

            <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ff0086; font-weight: bold">main</span><span style="color: #ffffff">()</span> <span style="color: #ffffff">{</span>
                
                <span style="color: #008800; font-style: italic; background-color: #0f140f">// Initializing Globals</span>
                <span style="color: #ffffff">playerStats.username</span>     <span style="color: #ffffff">=</span> <span style="color: #0086d2">&quot;&quot;</span><span style="color: #ffffff">;</span>
                <span style="color: #ffffff">playerStats.currentScore</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">;</span>
                <span style="color: #ffffff">currentState</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">LOAD;</span>
                
                <span style="color: #008800; font-style: italic; background-color: #0f140f">// Creating Window</span>
                <span style="color: #ffffff">sf::RenderWindow</span> <span style="color: #ffffff">window(sf::VideoMode(WIDTH,</span> <span style="color: #ffffff">HEIGHT),</span> <span style="color: #0086d2">&quot;FLAPPY BIRD WSU EDITION TEST&quot;</span><span style="color: #ffffff">);</span>
                <span style="color: #ffffff">window.setFramerateLimit(</span><span style="color: #0086f7; font-weight: bold">75</span><span style="color: #ffffff">);</span>
                <span style="color: #ffffff">window.setKeyRepeatEnabled(false);</span>
                
                <span style="color: #008800; font-style: italic; background-color: #0f140f">// Randomize</span>
                <span style="color: #ffffff">srand((</span><span style="color: #cdcaa9; font-weight: bold">unsigned</span> <span style="color: #cdcaa9; font-weight: bold">int</span><span style="color: #ffffff">)time(NULL));</span>
                
                <span style="color: #008800; font-style: italic; background-color: #0f140f">// Loading Info from File to Program</span>
                <span style="color: #ffffff">std::fstream</span> <span style="color: #ffffff">infile;</span>
                <span style="color: #ffffff">openInFile(infile,</span> <span style="color: #0086d2">&quot;Resources/FlappyBirdData.csv&quot;</span><span style="color: #ffffff">);</span>
                <span style="color: #ffffff">getHighScoreData(infile);</span>
                <span style="color: #ffffff">infile.close();</span>
                
                <span style="color: #008800; font-style: italic; background-color: #0f140f">// State Machine</span>
                <span style="color: #fb660a; font-weight: bold">while</span> <span style="color: #ffffff">(window.isOpen())</span> <span style="color: #ffffff">{</span>
                    <span style="color: #fb660a; font-weight: bold">switch</span> <span style="color: #ffffff">(currentState)</span> <span style="color: #ffffff">{</span>
                        <span style="color: #fb660a; font-weight: bold">case</span> <span style="color: #ffffff">LOAD</span>:
                            <span style="color: #ffffff">LoadingScene::load(window);</span>
                            <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                        <span style="color: #fb660a; font-weight: bold">case</span> <span style="color: #ffffff">NORMAL</span>:
                            <span style="color: #ffffff">GameScene::game(window);</span>
                            <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                        <span style="color: #fb660a; font-weight: bold">case</span> <span style="color: #ffffff">MENU</span>:
                            <span style="color: #ffffff">MenuScene::menu(window);</span>
                            <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                        <span style="color: #fb660a; font-weight: bold">case</span> <span style="color: #ffffff">HIGHSCORE</span>:
                            <span style="color: #ffffff">HighScoreScene::highscore(window);</span>
                            <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                        <span style="color: #fb660a; font-weight: bold">case</span> <span style="color: #ffffff">UPDATENAME</span>:
                            <span style="color: #ffffff">ChangeNameScene::changeName(window);</span>
                            <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                        <span style="color: #fb660a; font-weight: bold">case</span> <span style="color: #ffffff">INVADERS</span>:
                            <span style="color: #ffffff">InvadersScene::game(window);</span>
                            <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                        <span style="color: #fb660a; font-weight: bold">case</span> <span style="color: #ffffff">CREDITS</span>:
                            <span style="color: #ffffff">CreditScene::credits(window);</span>
                            <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                        <span style="color: #ffffff">default:</span>
                            <span style="color: #ffffff">print(</span><span style="color: #0086d2">&quot;Error in game. No viable state found\nLeaving game.&quot;</span><span style="color: #ffffff">);</span>
                            <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">EXIT_FAILURE;</span>
                            <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                    <span style="color: #ffffff">}</span>
                <span style="color: #ffffff">}</span>
                
                <span style="color: #fb660a; font-weight: bold">return</span> <span style="color: #ffffff">EXIT_SUCCESS;</span>
            <span style="color: #ffffff">}</span>
            </pre></div>


            </p>
    </body>
</html>
