<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>High Score Scene</title>
        <style>
            {
                box-sizing: border-box;
            }
            h1 {
                font-size: 50px;
            }
            body {
                margin: 0;
                font-size: 100%;
            }
            .center {
                text-align: center;
                color: white;
            }
            .column {
                float: left;
                color: white;
            }
            .left {
                width: 33.33%;
            }
            .middle {
                width: 33.33%;
            }
            .right {
                width: 33.34%;
            }
            .row: after {
                content: "";
                display: table;
                clear: both;
            }
        ul {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #444;
            height: 100%;
            overflow: auto;
        }
        li {
            float: left;
        }
        #nav li a {
            display: block;
            color: #000;
            padding: 12px 14px;
            text-decoration: none;
        }
        
        #nav li a.active {
            background-color: #808080;
            color: white;
        }
        
        #nav li a:hover:not(.active) {
            background-color: #555;
            color: white;
        }
        #links a:link, a:visited {
                background-color: #000;
                color: white;
                padding: 15px 25px;
                text-align: center;
                text-decoration: none;
                dislay: inline-block;
            }
        #links a:hover, a:active {
            background-color: grey;
        }
        </style>
    </head>
    
    <body style="background-color: grey">
        <ul id="nav">
            <li><a href="{{url_for('home_page')}}">Main</a></li>
            <li><a class="active" href="{{url_for('projects')}}">Projects</a></li>
            <li><a href="{{url_for('my_music')}}">My Music</a></li>
            <li><a href="{{url_for('tabs')}}">Tabs</a></li>
            <li><a href="{{url_for('about_me')}}">About Me</a></li>
        </ul>
        <h1 class="center">
            High Score Scene
        </h1>
        
        <h3 class="center">
            Made by Kyle Hurd
            <hr>
        </h3>
        
        <div>
            <div>
                <div style="background: #111111; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic; background-color: #0f140f"></span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  HighScoreScene.cpp</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  FlappyBird</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  Created by Kyle Hurd on 11/25/20.</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  Copyright © 2020 Kyle Hurd. All rights reserved.</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  Description</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  HighScoreScene is a subset of MenuScene. The scene is very simple</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  and only displays the top 10 scores from the game. These high scores</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  are saved within the FlappyBirdData.csv file located in ./Resources.</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  The user can go back to the MenuScene by pressing &#39;M&#39;.</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>

                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;HighScoreScene.hpp&quot;</span>

                <span style="color: #fb660a; font-weight: bold">namespace</span> <span style="color: #ffffff">HighScoreScene</span> <span style="color: #ffffff">{</span>

                <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">highscore(sf::RenderWindow</span> <span style="color: #ffffff">&amp;window)</span> <span style="color: #ffffff">{</span>
                    <span style="color: #ffffff">print(</span><span style="color: #0086d2">&quot;Entering HighScoreScene&quot;</span><span style="color: #ffffff">);</span>
                    
                    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Loading in Font</span>
                    <span style="color: #ffffff">sf::Font</span> <span style="color: #ffffff">font;</span>
                    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(!font.loadFromFile(</span><span style="color: #0086d2">&quot;Resources/Fonts/sansation.ttf&quot;</span><span style="color: #ffffff">))</span> <span style="color: #ffffff">{</span>
                        <span style="color: #ffffff">print(</span><span style="color: #0086d2">&quot;Could not load sansation.ttf&quot;</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">}</span>
                    
                    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Modifying Background</span>
                    <span style="color: #ffffff">sf::Texture</span> <span style="color: #ffffff">BackgroundTexture;</span>
                    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(!BackgroundTexture.loadFromFile(</span><span style="color: #0086d2">&quot;Resources/Sprites/PixeledMenuWSU1.jpg&quot;</span><span style="color: #ffffff">))</span> <span style="color: #ffffff">{</span>
                        <span style="color: #ffffff">print(</span><span style="color: #0086d2">&quot;Could not load PixeledMenuWSU1.jpg from file&quot;</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">}</span>
                    <span style="color: #ffffff">sf::Sprite</span> <span style="color: #ffffff">Background(BackgroundTexture);</span>
                    <span style="color: #ffffff">Background.setScale(</span><span style="color: #0086f7; font-weight: bold">1.03</span><span style="color: #ffffff">,</span> <span style="color: #0086f7; font-weight: bold">1.04</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">Background.setPosition(-</span><span style="color: #0086f7; font-weight: bold">4</span><span style="color: #ffffff">,</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">);</span>
                    
                    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Modifying Main Title</span>
                    <span style="color: #ffffff">sf::Text</span> <span style="color: #ffffff">mainTitle;</span>
                    <span style="color: #ffffff">mainTitle.setFont(font);</span>
                    <span style="color: #ffffff">mainTitle.setString(</span><span style="color: #0086d2">&quot;HIGH SCORES&quot;</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">mainTitle.setStyle(sf::Text::Underlined);</span>
                    <span style="color: #ffffff">mainTitle.setCharacterSize(</span><span style="color: #0086f7; font-weight: bold">50</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">mainTitle.setFillColor(sf::Color::Yellow);</span>
                    <span style="color: #ffffff">mainTitle.setOrigin(mainTitle.getLocalBounds().left</span> <span style="color: #ffffff">+</span> <span style="color: #ffffff">mainTitle.getLocalBounds().width</span> <span style="color: #ffffff">/</span> <span style="color: #0086f7; font-weight: bold">2.0f</span><span style="color: #ffffff">,</span>
                                         <span style="color: #ffffff">mainTitle.getLocalBounds().top</span> <span style="color: #ffffff">+</span> <span style="color: #ffffff">mainTitle.getLocalBounds().height</span> <span style="color: #ffffff">/</span> <span style="color: #0086f7; font-weight: bold">2.0f</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">mainTitle.setPosition((</span><span style="color: #cdcaa9; font-weight: bold">int</span><span style="color: #ffffff">)</span> <span style="color: #ffffff">WIDTH</span> <span style="color: #ffffff">/</span> <span style="color: #0086f7; font-weight: bold">2</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span><span style="color: #ffffff">)</span> <span style="color: #0086f7; font-weight: bold">50</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">mainTitle.setOutlineColor(sf::Color::Black);</span>
                    <span style="color: #ffffff">mainTitle.setOutlineThickness(</span><span style="color: #0086f7; font-weight: bold">8</span><span style="color: #ffffff">);</span>
                    
                    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Modifying Instruction Text</span>
                    <span style="color: #ffffff">sf::Text</span> <span style="color: #ffffff">instructions;</span>
                    <span style="color: #ffffff">instructions.setFont(font);</span>
                    <span style="color: #ffffff">instructions.setString(</span><span style="color: #0086d2">&quot;Press &#39;M&#39; to return to Main Menu&quot;</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">instructions.setCharacterSize(</span><span style="color: #0086f7; font-weight: bold">25</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">instructions.setFillColor(sf::Color::Yellow);</span>
                    <span style="color: #ffffff">instructions.setPosition(</span><span style="color: #0086f7; font-weight: bold">25</span><span style="color: #ffffff">,</span> <span style="color: #ffffff">HEIGHT</span> <span style="color: #ffffff">-</span> <span style="color: #0086f7; font-weight: bold">50</span><span style="color: #ffffff">);</span>
                    <span style="color: #ffffff">instructions.setOutlineColor(sf::Color::Black);</span>
                    <span style="color: #ffffff">instructions.setOutlineThickness(</span><span style="color: #0086f7; font-weight: bold">8</span><span style="color: #ffffff">);</span>
                    
                    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Modifying Scores</span>
                    <span style="color: #ffffff">sf::Text</span> <span style="color: #ffffff">scores[</span><span style="color: #0086f7; font-weight: bold">10</span><span style="color: #ffffff">];</span>
                    <span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">offset</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">;</span>
                    <span style="color: #fb660a; font-weight: bold">for</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">&lt;</span> <span style="color: #0086f7; font-weight: bold">10</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">i++)</span> <span style="color: #ffffff">{</span>
                        <span style="color: #ffffff">scores[i].setFont(font);</span>
                        <span style="color: #ffffff">scores[i].setString(highScores[i].username</span> <span style="color: #ffffff">+</span> <span style="color: #0086d2">&quot;    &quot;</span> <span style="color: #ffffff">+</span> <span style="color: #ffffff">numToString(highScores[i].currentScore));</span>
                        <span style="color: #ffffff">scores[i].setCharacterSize(</span><span style="color: #0086f7; font-weight: bold">30</span><span style="color: #ffffff">);</span>
                        <span style="color: #ffffff">scores[i].setFillColor(sf::Color::Yellow);</span>
                        <span style="color: #ffffff">scores[i].setOrigin(scores[i].getLocalBounds().left</span> <span style="color: #ffffff">+</span> <span style="color: #ffffff">scores[i].getLocalBounds().width</span> <span style="color: #ffffff">/</span> <span style="color: #0086f7; font-weight: bold">2.0f</span><span style="color: #ffffff">,</span>
                                            <span style="color: #ffffff">scores[i].getLocalBounds().top</span> <span style="color: #ffffff">+</span> <span style="color: #ffffff">scores[i].getLocalBounds().height</span> <span style="color: #ffffff">/</span> <span style="color: #0086f7; font-weight: bold">2.0f</span><span style="color: #ffffff">);</span>
                        <span style="color: #ffffff">scores[i].setPosition(WIDTH</span> <span style="color: #ffffff">/</span> <span style="color: #0086f7; font-weight: bold">2</span><span style="color: #ffffff">,</span> <span style="color: #0086f7; font-weight: bold">150</span> <span style="color: #ffffff">+</span> <span style="color: #ffffff">offset);</span>
                        <span style="color: #ffffff">scores[i].setOutlineColor(sf::Color::Black);</span>
                        <span style="color: #ffffff">scores[i].setOutlineThickness(</span><span style="color: #0086f7; font-weight: bold">8</span><span style="color: #ffffff">);</span>
                        <span style="color: #ffffff">offset</span> <span style="color: #ffffff">+=</span> <span style="color: #0086f7; font-weight: bold">75</span><span style="color: #ffffff">;</span>
                    <span style="color: #ffffff">}</span>
                    
                    <span style="color: #008800; font-style: italic; background-color: #0f140f">// Modifying Window</span>
                    <span style="color: #fb660a; font-weight: bold">while</span> <span style="color: #ffffff">(window.isOpen())</span> <span style="color: #ffffff">{</span>
                        <span style="color: #ffffff">sf::Event</span> <span style="color: #ffffff">event;</span>
                        <span style="color: #fb660a; font-weight: bold">while</span> <span style="color: #ffffff">(window.pollEvent(event))</span> <span style="color: #ffffff">{</span>
                            <span style="color: #fb660a; font-weight: bold">switch</span> <span style="color: #ffffff">(event.type)</span> <span style="color: #ffffff">{</span>
                                <span style="color: #fb660a; font-weight: bold">case</span> <span style="color: #ffffff">sf</span>:<span style="color: #ffffff">:Event::KeyPressed:</span>
                                    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(event.key.code</span> <span style="color: #ffffff">==</span> <span style="color: #ffffff">sf::Keyboard::Escape)</span> <span style="color: #ffffff">{</span>
                                        <span style="color: #ffffff">window.close();</span>
                                        <span style="color: #ffffff">print(</span><span style="color: #0086d2">&quot;Window is closed.&quot;</span><span style="color: #ffffff">);</span>
                                    <span style="color: #ffffff">}</span>
                                    <span style="color: #fb660a; font-weight: bold">if</span> <span style="color: #ffffff">(event.key.code</span> <span style="color: #ffffff">==</span> <span style="color: #ffffff">sf::Keyboard::M)</span> <span style="color: #ffffff">{</span>
                                        <span style="color: #ffffff">currentState</span> <span style="color: #ffffff">=</span> <span style="color: #ffffff">MENU;</span>
                                        <span style="color: #fb660a; font-weight: bold">return</span><span style="color: #ffffff">;</span> <span style="color: #008800; font-style: italic; background-color: #0f140f">// return to main()</span>
                                    <span style="color: #ffffff">}</span>
                                    <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                                <span style="color: #fb660a; font-weight: bold">case</span> <span style="color: #ffffff">sf</span>:<span style="color: #ffffff">:Event::KeyReleased:</span>
                                    <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                                <span style="color: #ffffff">default:</span>
                                    <span style="color: #fb660a; font-weight: bold">break</span><span style="color: #ffffff">;</span>
                            <span style="color: #ffffff">}</span>
                        <span style="color: #ffffff">}</span>
                        
                        <span style="color: #ffffff">window.clear();</span>
                        <span style="color: #ffffff">window.draw(Background);</span>
                        <span style="color: #ffffff">window.draw(mainTitle);</span>
                        <span style="color: #fb660a; font-weight: bold">for</span> <span style="color: #ffffff">(</span><span style="color: #cdcaa9; font-weight: bold">int</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">=</span> <span style="color: #0086f7; font-weight: bold">0</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">i</span> <span style="color: #ffffff">&lt;</span> <span style="color: #0086f7; font-weight: bold">10</span><span style="color: #ffffff">;</span> <span style="color: #ffffff">i++)</span> <span style="color: #ffffff">{</span>
                            <span style="color: #ffffff">window.draw(scores[i]);</span>
                        <span style="color: #ffffff">}</span>
                        <span style="color: #ffffff">window.draw(instructions);</span>
                        <span style="color: #ffffff">window.display();</span>
                    <span style="color: #ffffff">}</span>
                <span style="color: #ffffff">}</span>

                <span style="color: #ffffff">}</span>
                </pre></div>


            </div>
            <br><br>
            <div>
                <!-- HTML generated using hilite.me -->
                <div style="background: #111111; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-style: italic; background-color: #0f140f"></span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  HighScoreScene.hpp</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  FlappyBird</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  Created by Kyle Hurd on 11/25/20.</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  Copyright © 2020 Kyle Hurd. All rights reserved.</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  Description</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  HighScoreScene is a subset of MenuScene. The scene is very simple</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  and only displays the top 10 scores from the game. These high scores</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  are saved within the FlappyBirdData.csv file located in ./Resources.</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//  The user can go back to the MenuScene by pressing &#39;M&#39;.</span>
                <span style="color: #008800; font-style: italic; background-color: #0f140f">//</span>
                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#ifndef HighScoreScene_hpp</span>
                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#define HighScoreScene_hpp</span>

                <span style="color: #008800; font-style: italic; background-color: #0f140f">// SFML Files</span>
                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;SFML/Audio.hpp&gt;</span>
                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;SFML/Graphics.hpp&gt;</span>

                <span style="color: #008800; font-style: italic; background-color: #0f140f">// Classes</span>
                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Classes/Bird.hpp&quot;</span>
                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Classes/Pipes.hpp&quot;</span>
                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &quot;Classes/helperFunctions.hpp&quot;</span>

                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;fstream&gt;</span>
                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#include &lt;iostream&gt;</span>

                <span style="color: #fb660a; font-weight: bold">namespace</span> <span style="color: #ffffff">HighScoreScene</span> <span style="color: #ffffff">{</span>

                <span style="color: #cdcaa9; font-weight: bold">void</span> <span style="color: #ffffff">highscore(sf::RenderWindow</span> <span style="color: #ffffff">&amp;);</span>

                <span style="color: #ffffff">}</span>

                <span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f">#endif </span><span style="color: #008800; font-style: italic; background-color: #0f140f">/* HighScoreScene_hpp */</span><span style="color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f"></span>
                </pre></div>


            </div>
        </div>
    </body>
</html>
