nav#navigation_bar {
    position: fixed;
    top: 5%;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
}

nav#navigation_bar a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}
 nav#navigation_bar a:before, nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav#navigation_bar a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav#navigation_bar a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav#navigation_bar a:nth-child(1):before {
    background-color: yellow;
}

nav#navigation_bar a:nth-child(1):after {
    background-color: red;
}

nav#navigation_bar a:nth-child(2):before {
    background-color: #00e2ff;
}

nav#navigation_bar a:nth-child(2):after {
    background-color: #89ff00;
}

nav#navigation_bar a:nth-child(3):before {
    background-color: purple;
}

nav#navigation_bar a:nth-child(3):after {
    background-color: palevioletred;
}

nav#navigation_bar a:nth-child(4):before {
	background-color: #ff6600;
}

nav#navigation_bar a:nth-child(4):after {
	background-color: #f2ff00;
}

#indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav#navigation_bar a:hover {
    color: #fff;
}

nav#navigation_bar a:hover:before, nav a:hover:after {
    transform: scale(1);
}

nav#navigation_bar a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, yellow, red);
}

nav#navigation_bar a:nth-child(2):hover ~ #indicator {
    left: 27%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav#navigation_bar a:nth-child(3):hover ~ #indicator {
    left: 57%;
    background: linear-gradient(130deg, purple, palevioletred);
}

nav#navigation_bar a:nth-child(4):hover ~ #indicator {
	left: 81%;
	background: linear-gradient(130deg, #ff6600, #f2ff00);
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 125;
}
