h1#neon {
	font-size: 80px;
	color: #fff;
	padding-top: 100px;
	text-shadow: 0 0 5px #fff,
	0 0 10px #fff,
	0 0 15px #97aec4,
	0 0 20px #97aec4,
	0 0 25px #97aec4,
	0 0 30px #97aec4,
	0 0 35px #97aec4;
}

p#neon {
	color: #fff;
	padding-top: 50px;
	text-align: center;
	width: 80%;
	text-shadow: 0 0 5px #fff,
	0 0 10px #fff,
	0 0 15px #97aec4,
	0 0 20px #97aec4,
	0 0 25px #97aec4,
	0 0 30px #97aec4,
	0 0 35px #97aec4;
}

p#neon_with_border {
	border-style: inset;
	color: #fff;
	padding: 10px;
	text-align: center;
	max-width: 50%;
	box-shadow: 0px 0px 40px 20px #fff;
	text-shadow: 0 0 5px #fff,
	0 0 10px #fff,
	0 0 15px #97aec4,
	0 0 20px #97aec4,
	0 0 25px #97aec4,
	0 0 30px #97aec4,
	0 0 35px #97aec4;
}
