{% extends "head.html" %}

{% block title %}Flappy Bird{% endblock %}

{% block content %}

<h1 class="center">
	Flappy Bird
</h1>


<h2 class="center">
	Made by Kyle Hurd,  Aziz Abdul,  Justin Pilgrim and  William Holbert
</h2>

<p class="center">
<br>
Here is a version of Flappy Bird that was designed for a
project in CPTS 122, Data Structures in C++ as WSU. The
functionaly of the game mimics the original game, and in
addtion to the game we included a local high score tracker
that uses a .csv file to store data for future use. <hr>
</p>

<div id="links" style="color:white">
	<center>
		<h2>
			<b>Example</b><br><br>
			<video width="400" height="500" controls>
				<source src="{{url_for('static', filename = 'videos/flappy_bird.mp4')}}" type="video/mp4">
			</video><br><br>
        
			<b>Resources (Download Links)</b> <br><br>
			<a href="https://github.com/khurd21/Flappy_Bird" target="_blank">Full GitHub Project</a> <br><br>

			<b>Source Code</b> <br><br>
			<a id="links" href="{{url_for('flappy_bird.main_function')}}" target="_self">Main</a> <br><br><br>
			<a href="{{url_for('flappy_bird.helper_functions')}}" target="_self">Helper Functions</a> <br><br><br><br>
			<b>Scenes</b> <br><br>
			<a href="{{url_for('flappy_bird.menu_scene')}}" target="_self">Menu Scene</a> <br><br><br>
			<a href="{{url_for('flappy_bird.change_name_scene')}}" target="_self">Change Name Scene</a> <br><br><br>
			<a href="{{url_for('flappy_bird.high_score_scene')}}" target="_self">High Score Scene</a> <br><br><br>
			<a href="{{url_for('flappy_bird.game_scene')}}" target="_self">Game Scene</a> <br><br><br>
			<a href="{{url_for('flappy_bird.loading_scene')}}" target="_self">Loading Scene</a> <br><br>
			<b>Classes</b> <br><br>
			<a href="{{url_for('flappy_bird.bird_class')}}" target="_self">Bird Class</a> <br><br><br>
			<a href="{{url_for('flappy_bird.pipe_class')}}" target="_self">Pipe Class</a> <br><br><br><br>
		</h2>
	</center>
</div>

{% endblock %}
