{% extends "head.html" %}

{% block title %}Main{% endblock %}

{% block content %}
<!--MAIN TITLE-->
<h1 class="center">Welcome to My Homepage!</h1>
        
<!--SUB TITLE-->
<h2 class="center">Made by Kyle Hurd</h2>
        
<!--IMAGE-->
<center>
	<img src="{{url_for('static', filename='images/musical_staff.png')}}" width=800 height=200>
</center>
        
<div id="box" class="center">
	<center>
		<div class="blocktext" style="font-size: 30px; background-color: grey">
   	         Welcome to my site! I am a student at Washington State University intending to graduate Winter 2022 as a computer science major. I created this site to showcase and access my code. It will serve as a digital portfolio of my work. Please have a look around using the navigation bar at the top of the page!
		</div>
	</center>
</div>

{% endblock %}
