{% extends "head.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<!--MAIN TITLE-->
<h1 class="center">Source Files</h1>
        
<!--BODY-->
<h2 class="center">
	Below are projects I have made over time. Feel free to check them out!
   	<br>
   	The data structures are mainly for my reference.
</h2>

<br><br>

<h2 id="links" class="center">
	Also feel free to check out my <a href="https://github.com/khurd21" target="_blank">GitHub</a>
</h2>
<br><br><hr>

<!--LINKS-->
<div id="links" style="color:white">
	<center>
        <h2>
        	<b>Projects</b> <br><br>
			<a href="{{url_for('metar.metar_default')}}" target="_self">Metar Weather</a> <br><br><br>
            <a href="{{url_for('flappy_bird.main_page')}}" target="_self">Flappy Bird</a> <br><br><br>

            <b>Data Structures (C++)</b> <br><br>
            <a href="{{url_for('projects.BST')}}" target="_self">Binary Search Tree</a> <br><br><br>
            <a href="{{url_for('projects.linked_list')}}" target="_self">Linked List</a> <br><br><br>
            <a href="{{url_for('projects.queue')}}" target="_self">Queue</a> <br><br><br>
       	    <a href="{{url_for('projects.sorting')}}" target="_self">Sorting</a> <br><br><br>
        	<a href="{{url_for('projects.stack')}}" target="_self">Stack</a> <br><br><br>
        </h2>
	</center>
</div>

{% endblock %}
