{% extends '_template.html' %}

{% block styles %}
{{ super() }}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
{{ moment.include_moment() }}
{% endblock %}


{% block scripts %}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock %}


{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white a-dynamic" href="{{ url_for('menu_bar_tabs.render_home_page')}}">
      <i class="bi bi-person-circle"></i>
      khurd21.ddns.net
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('menu_bar_tabs.about_me') }}">
          <i class="bi bi-file-person-fill"></i>
          About Me
        </a>
        <a class="nav-link" href="{{ url_for('menu_bar_tabs.my_music') }}">
          <i class="bi bi-music-note-beamed"></i>
          My Music
        </a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="{{ url_for('menu_bar_tabs.contact_me') }}">
          <i class="bi bi-envelope"></i>
          Contact Me
        </a>
        <a class="nav-link" href="https://github.com/khurd21" target="_blanks" rel="noopener noreferrer">
          <i class="bi bi-github"></i>
          Github
        </a>
        <a class="nav-link" href="{{ url_for('menu_bar_tabs.render_resume_page') }}" target="_blanks" rel="noopener noreferrer">
          <i class="bi bi-file-earmark-person-fill"></i>
          Resume
        </a>
      </div>
    </div>
  </div>
</nav>

{% endblock %}