<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}KHurd Website{% endblock %}</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/stars.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/navigation_bar.css')}}">

		{% block styles %}
		{% endblock %}

	</head>

	<body>

		<div id="stars_depth_one"></div>
		<div id="stars_depth_two"></div>
		<div id="stars_depth_three"></div>

		<div class="container-content">
			<nav id="navigation_bar" style="padding-top: 10px">
				<a href="{{url_for('menu_bar_tabs.render_home_page')}}">Main</a>
				<a href="{{url_for('menu_bar_tabs.render_projects_page')}}">Projects</a>
				<a href="{{url_for('menu_bar_tabs.render_my_music_page')}}">My Music</a>
				<a href="{{url_for('menu_bar_tabs.render_about_me_page')}}">About Me</a>
				<div id="indicator"></div>
			</nav>

		{% block content_within_container %}
		{% endblock %}

		</div>
	</body>
</html>

	
